{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps/tachyon/include"},
            {i, "deps"},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{sub_dirs, ["rel", "apps/tachyon"]}.
{cover_enabled, true}.
{eunit_opts, [{report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
  {ensq, ".*", {git, "https://github.com/project-fifo/ensq.git", {branch, master}}}
 ]}.

