{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps"},
            {i, "deps"},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{deps,
 [
  %% NOTE: some basho_bench drivers make use of pre-folsom stats
  %%       that permitted float type counter increments.  Thus
  %%       we currently rely on a custom branch of folsom that
  %%       has a useful-but-icky hack that allows fractional
  %%       increments.  If someone wants to take advantage of a
  %%       new folsom feature, that desire + float incr must be
  %%       weighed.
  {folsom, ".*", {git, "git://github.com/basho/folsom.git", {branch, "boundary-0.7.1+basho-bench-float"}}},

  {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.0"}}},
%  {casbench, "0.1",
%   {git, "git://github.com/basho/casbench",
%    "95ed55b494551577870984aeb1e0f683631a326f"}},
%  {erlcassa, ".*",
%   {git, "git://github.com/ostinelli/erlcassa.git",
%   {branch, "master"}}},
  {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs.git", {branch, "master"}}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {erlzmq, ".*", {git, "https://github.com/Licenser/erlzmq2.git", {branch, "smartos"}}}
 % {erlzmq, ".*", {git, "https://github.com/zeromq/erlzmq2.git", {branch, "master"}}}
 ]}.

