{lib_dirs, ["deps", "apps"]}.
{erl_opts, [{i, "apps/tachyon/include"},
            {i, "deps"},
            {parse_transform, lager_transform},
            warnings_as_errors,
            debug_info]}.
{edoc_opts, [{dir, "../../doc"}]}.
{sub_dirs, ["rel", "apps/tachyon"]}.
{cover_enabled, true}.
{eunit_opts, [no_tty, {report, {unite_compact, []}}, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps,
 [
  {lager, "2.*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
  {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v1.4.5"}}},
  {estatsd, ".*", {git, "https://github.com/luceracloud/estatsd.git", {branch, master}}},
  {ensq, ".*", {git, "https://github.com/project-fifo/ensq.git", {branch, master}}},
  {cuttlefish, ".*", {git, "https://github.com/basho/cuttlefish.git", {tag, "505400716dbc76ec9387d9d4335819b3bdcff9b2"}}},
  {e2qc, ".*", {git, "https://github.com/arekinath/e2qc.git", {branch, master}}},
  {unite, ".*", {git, "git://github.com/eproxus/unite.git", {tag, "c8bfccc8062dc2223e1872969d8d10524759a277"}}}
 ]}.
{plugin_dir, "deps/cuttlefish/src"}.
{plugins, [cuttlefish_rebar_plugin]}.
