
/* shared */
span.ex
{

}
div.ex
{

}

span.rotate {
/* Safari */
-webkit-transform: rotate(-90deg);
/* Firefox */
-moz-transform: rotate(-90deg);
/* IE */
-ms-transform: rotate(-90deg);
/* Opera */
-o-transform: rotate(-90deg);
/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.input
{
font-size:1.6em;
padding-left:5px;
border-color:grey;
border-style:none none solid none;
font-family:'Asap',sans-serif;
}
.input:focus
{
outline:none;
}

div.body_main
{
font-family:'Asap',sans-serif;
position:absolute;
top:0%;
left:0%;
width:78%;
height:100%;
padding:10px;
background:#ffffff;
}
div.body_nav
{
font-family:'Asap',sans-serif;
text-align:center;
position:fixed;
box-shadow:-4px 0px 6px #888888;
top:0%;
left:78%;
width:20%;
height:100%;
padding:10px;
background:#f0f0f0;
}
div.button
{
background:#fafafa;
color:#6b6a6d;
margin-top:4px;
margin-bottom:4px;
width:80%;
border:1px solid grey;
text-align:center;
border-radius:8px;
-moz-border-radius:8px;
padding:4px;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
}
div.button:hover
{
color:#00acec;
border:1px solid black;
cursor:pointer;
box-shadow:1px 1px 1px #888888;
}
div.popup
{
font-family:'Asap',sans-serif;
position:fixed;
background:white;
top:50%;
left:50%;
margin-top:-10%;
margin-left:-20%;
width:40%;
height:40%;
border:1px solid grey;
visibility: hidden;
box-shadow: 4px 4px 3px #888888; 
border-radius:13px;
-moz-border-radius:13px;
padding:20px;
}
div.plot_container
{

}
div.plot
{
width:100%;
}
span.plotListStyle
{
cursor:pointer;
line-height:1.4em;
color:#46c1ef;
font-size:1.2em;
}
span.plotListStyle:hover
{
color:#1691ef;
}
span.button
{
/*background:#fafafa;*/
color:#6b6a6d;
margin-top:4px;
margin-bottom:4px;
width:80%;
-webkit-user-select: none; /* Chrome/Safari */        
-moz-user-select: none; /* Firefox */
-ms-user-select: none; /* IE10+ */
/*border:1px solid grey;*/
text-align:center;
/*border-radius:8px;*/
/*-moz-border-radius:8px;*/
padding:4px;
}
span.button:hover
{
color:#00acec;
/*border:1px solid black;*/
cursor:pointer;
/*box-shadow:1px 1px 1px #888888;*/
}



/* specific */
span.scope_ex
{

}

div.scope_ex
{

}




