.panel-title {
  float: left;
  font-size: 30px;
}

body.modal-open, .modal-open .navbar-fixed-top, .modal-open .navbar-fixed-bottom {
  margin-right: 0;
}

select {
  display: block;
  width: 100%;
  margin-bottom:10px;
  font-size: 22px
}
