{sys, [
       {lib_dirs, ["../deps", "../apps"]},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "tachyon", "0.1.0",
        [
         kernel,
         stdlib,
         sasl,
         lager,
         ensq,
         tachyon
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "tachyon"},
       {profile, embedded},
       {incl_cond, exclude},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/.*", "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       {app, compiler,   [{incl_cond, include}]},
       {app, syntax_tools,   [{incl_cond, include}]},
       {app, sasl,   [{incl_cond, include}]},
       {app, stdlib, [{incl_cond, include}]},
       {app, kernel, [{incl_cond, include}]},
       {app, inets, [{incl_cond, include}]},
       {app, goldrush, [{incl_cond, include}]},
       {app, lager, [{incl_cond, include}]},
       {app, jsx, [{incl_cond, include}]},
       {app, jsxd, [{incl_cond, include}]},
       {app, dproto,   [{incl_cond, include}]},
       {app, ensq, [{incl_cond, include}]},
       {app, tachyon, [{incl_cond, include}]},
       %% For profiling & friends
       {app, tools, [{incl_cond, include}]},
       {app, runtime_tools, [{incl_cond, include}]}
      ]}.

{target_dir, "tachyon"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "log/sasl"},
           {mkdir, "etc"},
           {copy, "../share", "share"},
           {copy, "files/tachyon.xml", "share/tachyon.xml"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/tachyon", "bin/tachyon"},
           {template, "files/tachyon.cmd", "bin/tachyon.cmd"},
           {template, "files/start_erl.cmd", "bin/start_erl.cmd"},
           {template, "../schema/tachyon.schema", "share/schema/00-tachyon.schema"},
           {template, "../schema/lager.schema", "share/schema/01-lager.schema"},
           {template, "../deps/ensq/priv/ensq.schema", "share/schema/02-ensq.schema"},
           {template, "../schema/erlang_vm.schema", "share/schema/03-vm.schema"},
           {copy, "../deps/cuttlefish/cuttlefish", "bin/cuttlefish"}
          ]}.
