[
 {tachyon,
  [
   {metric_connections, 5},
   {kstat_connections, 30},
   {kairosdb, {"172.21.0.203", 4242}},
   {statsd, true}
  ]},
 {estatsd, [
        {flush_interval,    1000} ,         %% default is 10 seconds
        {graphite_host,     "10.1.15.35"},  %% default is "127.0.0.1"
        {graphite_port,     8125},          %% default is 2003
        {vm_metrics,        true},          %% default is true: enable sending VM metrics

        %% [AdditionalStats, DisabledStats] generic stats. Default:
        %% Additional = [used_fds, process_count, reductions, run_queue]
        %% Disabled = []
        %% You can only add
        %%   * erlang:statistics(Name) (only a subset is supported)
        %%   * 'ports' ( length(erlang:ports()) )
        %%   * 'scheduler_wall_time' ( creates stats about scheduler usage between intervals )
        {vm_statistics, [
            {additional,    [context_switches]},
            {disabled,      [run_queue]}
        ]},

        %% [AdditionalStats, DisabledStats] memory stats. Default:
        %% Additional = [total, binary, atom, ets, processes]
        %% Disabled = []
        %% You can only add erlang:memory(Name) stats.
        {vm_memory, [
            {additional,    [code]}
        ]}

        %{vm_key_postfix,    ".NODENAME.SHORTHOSTNAME"}  %% default ".NODENAME.SHORTHOSTNAME"
    ]},
 {ensq,
  [{max_in_flight, 3500}]},
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]}
].

